/* 1400, 1199, 991, 767, 575, 480, 360, 320 */
/* CSS Index
-----------------------------------
1.default css
-----------------------------------
*/
/* min-width 1550 */

@media (min-width: 1550px) {
	.join-right-img {
		object-position: 0 -35px;
	}
}

/* max-width 1430*/
@media (max-width: 1430px) {
	.about-us .row {
		--bs-gutter-x: 24px;
	}
	.about-bg {
		max-width: calc(100% + 200px);
		left: -100px;
	}
	.banner-section.small-banner .main-title {
		margin-bottom: 40px;
	}
}

/* max-width 1399 */
@media (max-width: 1399.98px) {
	/* innovators section start */
	.services-bg,
	.about-bg {
		left: 0;
		max-width: 100%;
	}

	/* history gallery section start */
	.h-content-2 {
		margin-left: 0;
		width: 100%;
	}
	
	/* history gallery section end */
}

/* max-width 1199 */
@media (max-width: 1199.98px) {

	/* container padding fix */
	.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		padding-right: 30px;
		padding-left: 30px;
	}
	/* header section start */
	.main-menu li {
		list-style: none;
		display: inline-block;
		padding: 0 8px;
		position: relative;
		z-index: 1;
	}

	/* header section end */

	/*  innovators section start*/

	.innovators-area {
		padding: 180px 0;
	}

	.innovators-content-wrapper h2 {
		margin-bottom: 20px;
	}

	.innovators-content-wrapper .magnum-btn {
		margin-top: 20px;
	}

	.innovators-content-wrapper {
		padding-left: 0;
		padding-top: 50px;
	}
	/* innovators section end */

	/* services section start */
	.services-bg,
	.about-bg {
		height: auto;
	}
	.services-area .row {
		--bs-gutter-x: 24px;
	}
	/* services section end */

	/* swiper css start */
	.swiper-horizontal > .swiper-pagination-progressbar,
	.swiper-pagination-progressbar.swiper-pagination-horizontal,
	.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
	.swiper-vertical
		> .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
		max-width: 680px;
	}

	/* swiper css end*/

	/* footer area section start */
	.footer-top-area > .row,
	.footer-top-area > .row .row {
		--bs-gutter-x: 60px;
	}

	.footer-top-area > .row .row {
		--bs-gutter-x: 24px;
	}

	.footer-item-wrapper .magnum-btn {
		padding: 21px 24px;
	}

	/* footer area section end */

	/* services page css */

	/* services banner section start */
	.banner-section.small-banner {
		min-height: 400px;
	}
	/* services banner section end */

	/* join us sectoin start */
	.join-our-team-info .bottom-btn-wrapper {
		gap: 25px;
	}
	/* join us sectoin end */

	/* services page css */

	/* our client say area start */
	.video-info {
		max-width: 100%;
		width: 100%;
	}
	.video-card-wrapper {
		gap: 5px !important;
		padding: 10px;
	}
	.our-client-say-area .container > .row {
		--bs-gutter-y: 40px;
	}
	/* our client say area end */

	/* contact-form-wrapper section start */
	.contact-form-wrapper .add-experience-button::before {
		margin-left: 0px;
		width: 100%;

	}
	/* contact-form-wrapper section end */
	/* news featured post section start */
	.news-featured-post-content {
		padding: 18px 45px;
	}
	/* news featured post section end */

	/* contact form section start */
	.right-contact-area {
		width: 100%;
		margin-left: 0px;
	}
	.left-contact-area{
		max-width: 100%;
	}
	.right-contact-area,
	.left-contact-area{
		padding: 50px 40px;
	}
	/* contact form section end */

	/* history gallery section start */
	.h-gallery-1 {
		max-width: 100%;
		margin-left: 0;
	}
	.h-gallery-2 {
		max-width: 100%;
	}
	.h-gallery-3 {
		max-width: 100%;
		margin-left: 0;
	}
	.h-gallery-4 {
		max-width: 100%;
		margin-left: 0;
	}
	.h-gallery-5 {
		max-width: 100%;
		margin-left: 0;
		margin-top: 0;
	}
	.h-content-1 {
		margin-left: 0;
	}
	.history-gallery-area .container .row:nth-child(2) {
		margin-top: -80px;
		--bs-gutter-x: 40px;
	}
	.history-gallery-area .container .row:nth-child(3) {
		margin-top: 0px;
		--bs-gutter-x: 40px;
		--bs-gutter-y:50px;
		align-items: center;
	}
	.history-gallery-area .container .row:nth-child(4) {
		margin-top: 0px;
		margin-bottom: 35px;
		--bs-gutter-y:50px;
		--bs-gutter-x: 40px;
	}
	.h-gallery-8 {
		margin-left: -121px;
		max-width: 100%;
		z-index: -1;
	}
	.dual-img {
		margin-left: 0;
		max-width: 100%;
	}
	.history-gallery-area .container .row:nth-child(6) {
		margin-top: -50px;
		--bs-gutter-x: 40px;
	}
	.h-gallery-10 {
		max-width: 300px;
	}
	.h-gallery-11 {
		margin-left: 0;
		width: 100%;
	}
	.h-gallery-12 {
		max-width: 100%;
		margin-left: -65px;
		margin-top: 55px;
	}

	/* history gallery section end */
}

/* max-width 1399 - min-width 992*/
@media (max-width: 1199.98px) and (min-width: 992px) {
}

/* max-width 991 */
@media (max-width: 991.98px) {
	/* heading  style*/
	h1 {
		font-size: 70px;
	}

	h2 {
		font-size: 48px;
	}

	h3 {
		font-size: 40px;
	}

	h4 {
		font-size: 32px;
	}

	h5 {
		font-size: 24px;
	}

	h6 {
		font-size: 20px;
	}
	.banner-section.single-project .main-title,
	.banner-section.small-banner .main-title{
		font-size: 70px;
	}
	



	/* all padding fix start*/
	.construction-area ,  
	.construction-services-area
	.featured-project-card-area,
	.services-contact-from ,
	.contact-form-area,
	.project-area ,
	.core-value-area ,
	.open-positions-wrapper,
	.project-details-area,
	.single-news-section-area ,
	.featured-project-card-area,
	.news-article-section-area ,
	.drone-services-area.bg-snow-drift{
		padding: 70px 0;
	}
	.mg-personal-information{
		padding: 50px 0;
	}
	.open-position-gallery-area{
		padding-bottom: 50px;
	}
	/* all padding fix end*/

	/* header section start */


	
	.top-header-info {
		gap: 16px;
	}

	.header-area {
		padding-top: 20px;
	}

	/* header section end */

	/* banner section start */
	.banner-section {
		min-height: 700px;
	}


	/* banner section end */

	/* about us section start */
	.about-us {
		padding: 80px 0;
	}

	.about-inner-info h2 {
		margin-bottom: 20px;
	}

	.about-inner-info {
		margin-bottom: 30px;
	}

	.about-bg {
		height: 100%;
	}

	/* about us section end */

	/* innovators sectoin start */
	.innovators-area {
		padding: 80px 0;
	}

	/* innovators sectoin end */

	/* experience section start  */
	.play-icon {
		width: 130px;
		height: 130px;
	}

	.play-icon svg {
		height: 50px;
		width: 50px;
		margin-left: 10px;
	}

	.experience-area {
		min-height: 400px;
	}

	.experience-content-wrapper h2 {
		margin-bottom: 15px;
	}

	/* experience section end */
	/* sub-title */
	.sub-title {
		margin-bottom: 8px !important;
	}

	/* sub-title */

	/* section padding fix all */
	.services-area,
	.featured-project-area,
	.section-padding,
	.footer-inner {
		padding: 70px 0;
	}

	.featured-project-area {
		padding-bottom: 120px;
	}

	/* section padding fix all*/
	/* swiper css start */
	.swiper-horizontal > .swiper-pagination-progressbar,
	.swiper-pagination-progressbar.swiper-pagination-horizontal,
	.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
	.swiper-vertical
		> .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
		max-width: 520px;
	}

	/* swiper css end*/

	/* featured project section start */
	.featured-project-area .section-title-wrapper {
		margin-bottom: 40px;
	}

	/* featured project section end */

	/* footer section start */
	.footer-top-area > .row {
		--bs-gutter-x: 24px;
	}

	.footer-top-area > .row .row {
		--bs-gutter-x: 12px;
	}

	.socials-icons a {
		margin-right: 12px;
	}

	/* footer section end */

	.innovators-img {
		top: 0;
		width: 100%;
		min-height: 700px;
		position: relative;
	}

	/* services page css  */
		/* construction servicessection start */
		.construction-services-area .row {
			--bs-gutter-x: 35px;
			--bs-gutter-y: 50px;
		}
		.mg-content-wrapper .row {
			--bs-gutter-y: 30px;
		}
		.content-block-wrapper .row {
			--bs-gutter-y: 30px;
		}
		/* construction servicessection end */
	/* services page css  */

	/* join us section start */
	.join-right-img {
		position: static;
		width: 100%;
		height: auto;
		margin-bottom: 30px;
	}
	.join-our-team {
		margin: 50px 0;
		padding-top: 0;
		padding-bottom: 50px;
	}
	/* join us section end */

	/* services contact from section start */
	.services-contact-title {
		text-align: center;
		font-size: 72px;
	}
	.services-contact-form-info {
		margin-bottom: 30px;
	}
	.services-contact-from {
		margin-bottom: 50px;
	}
	.contact-form-wrapper {
		max-width: 100%;
	}
	/* services contact from section end */

	/* project section start */
	.featured-project-card-info.large .featured-project-card-img img {
		clip-path: polygon(
	  0 0,
	  calc(100% - 80px) 0%,
	  100% 80px,
	  100% 100%,
	  100% 100%,
	  0 100%,
	  0% 100%,
	  0 0
	 );
	}
	.filter-btn-info {
		padding-bottom: 40px;
		gap: 12px;
	}
	.featured-project-card-info .featured-project-card-img  .magnum-btn ,
	.featured-project-card-info.large .featured-project-card-img  .magnum-btn {
		padding: 50px;
		clip-path: polygon(0 0, calc(100% - 50px) 0%, 100% 50px, 100% 100%, 100% 100%, 50px 100%, 0% calc(100% - 50px), 0 0);
	}
	.featured-project-card-info .featured-project-card-img  .magnum-btn svg
	.featured-project-card-info.large .featured-project-card-img  .magnum-btn svg {
		height: 70px;
		width: 70px;
	}
	/* project section end */

	/* fun fat section start */
	.fun-fat-area .row {
		--bs-gutter-y: 20px;
	}
	.counter-wrapper-area {
		padding: 50px 0;
	}
	.single-project-slider .swiper-button-prev, .single-project-slider .swiper-rtl .swiper-button-prev, .single-project-slider .swiper-button-next, .single-project-slider .swiper-rtl .swiper-button-next {
		-webkit-transform: translate(-1px , -50%);
		-ms-transform: translate(-1px , -50%);
		transform: translate(-1px , -50%);
		background: #0078C9;
		height: 50px;
		width: 50px;
	}
	.single-project-slider .swiper-button-next{
		-webkit-transform: translate(1px, -50%);
		-ms-transform: translate(1px , -50%);
		transform: translate(1px , -50%);
	}
	.single-project-slider .swiper-button-prev svg, .single-project-slider .swiper-rtl .swiper-button-prev svg, .single-project-slider .swiper-button-next svg, .single-project-slider .swiper-rtl .swiper-button-next svg {
		height: 22px;
		width: 22px;
	}
	/* fun fat section end */

	/* core value section section start */
	.core-value-wrapper {
		padding: 200px 0;
	}
	/* core value section section end */

	/* our team section start */
	.our-team-area {
		padding-bottom: 50px;
	}
	/* our team section end */

	/* single team member section start */
	.member-information-wrapper .row {
		--bs-gutter-y: 30px;
	}
	.member-img-info {
		max-width: 100%;
	}
	.member-information-info {
		padding-left: 0;
	}
	.single-member-info-area {
		padding: 50px 0 20px;
	}
	.member-information-wrapper {
		margin-top: 20px;
	}
	.gallery-content-wrapper {
		background-size: 100%;
		padding: 30px 0 15px;
		margin-bottom: 30px;
	}
	.single-member-gallery-wrapper {
		padding-bottom: 50px;
	}
	/* single team member section end */

	/* content block wrapper section start */
	.content-block-wrapper.sefety-block-wrapper .row {
		margin-bottom: 50px;
	}
	.content-block-wrapper .row.flex-row-reverse{
		flex-direction: column;
	}
	.contact-form-wrapper .form-group .form-grounp-inner {
		gap: 20px;
	}
	/* content block wrapper section end */

	/* modification section start */
	.modification-thumbnail {
		position: static;
		height: 500px;
		width: 100%;
	}
	.modification-content-wrapper {
		padding: 50px 40px;
		max-width: 100%;
	}
	.modification-content-wrapper .content-block-counter {
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
	/* modification section end */

	/* target  zero form section start */
	.target-zero-form-area{
		padding: 50px 0;
		margin-bottom: 50px;
	}
	.target-zero-form .magnum-btn {
		margin-top: 30px;
	}
	.target-zero-form .form-group {
		margin-bottom: 18px;
	}
	/* target  zero form section end */

	/* testimonial section start */
	.client-video-wrapper .row {
		--bs-gutter-y: 30px;
	}
	.quote-icon {
		transform: translateX(0%);
		left: 0;
		position: static;
		margin-bottom: 15px;
	}
	.client-video-wrapper {
		margin-bottom: 60px;
	}
	.quote-author-wrapper {
		margin-top: 30px;
	}
	.clinet-testimonal-content {
		padding: 0px 0 50px;
	}
	.our-client-say-area.single-testimonial {
		padding: 50px 0 0;
	}
	/* testimonial section end */

	/* open position info section start */
	.drone-services-area.open-position-info .mg-content-wrapper .row {
		--bs-gutter-y: 30px;
	}
	.drone-services-area.open-position-info .mg-content-wrapper .col-lg-4:nth-child(3){
		display: none;
	}
	.drone-services-center-shape {
		left: 50%;
		transform: translate(-50% , -50%);
		right: auto;
	}
	.drone-services-area.open-position-info .drone-services-center-shape {
		right: auto;
		left: 0;
		transform: none;
	}
	.open-position-inner-info {
		flex-direction: column;
		gap: 25px;
	}
	.position-inner-info {
		width: 100%;
	}
	/* open position info section end */

	/* project details section start */
	.position-details-wrpper .row {
		--bs-gutter-y: 30px;
	}
	.position-details-wrpper {
		padding-bottom: 50px;
	}
	.position-details-bottom-wrapper p {
		margin-bottom: 30px;
	}
	.construction-area.position-detail-info h1 {
		margin-bottom: 10px;
	}
	/* project details section end */

	/* news featured post section start */
	.news-featured-post-content {
		padding: 50px;
	}
	.news-article-section-area .row {
		--bs-gutter-y: 30px;
	}
	/* news featured post section end */

	/* news article section start */
	.pagination-wrapper {
		gap: 20px;
		margin-top: 50px;
	}

	/* news article section end  */

	/* single news section start */
	.single-news-small-img {
		max-width: 100%;
		margin-top: 35px;
		margin-bottom: 35px;
	}
	.single-news-section-area .back-member-btn {
		margin-bottom: 35px;
	}
	.single-news-big-img {
		margin-bottom: 35px;
		margin-top: 35px;
	}
	.single-news-section-area .share-post {
		margin-top: 35px;
	}
	

	/* single news section end */

	/* contact form section start */
	.left-contact-area h4 {
		margin-bottom: 25px;
	}
	.right-contact-area,
	.left-contact-area{
		padding: 50px 20px;
	}

	/* contact form section end */

	/* open gallery section start */
	.gallery-section-1-slider .swiper-slide, .gallery-section-2-slider .swiper-slide {
		width: 300px;
	}
	/* open gallery section end */


	/* history gallery section start */
	.history-gallery-area .row{
		--bs-gutter-y:50px;
	}
	.h-gallery-1 {
		width: 100%;
	}
	.h-gallery-4 ,
	.h-gallery-5 ,
	.h-gallery-2 {
		width: 100%;
		margin-top: 0;
		margin-left: 0;
	}
	.h-gallery-3 {
		width: 100%;
		margin-top: 0;
	}
	.history-gallery-area .container .row:nth-child(2) {
		margin-top: 0px;
		--bs-gutter-x: 24px;
	}
	.singgle-news-content p, .history-gallery p {
		margin-bottom: 24px;
	}
	.h-gallery-6 {
		max-width: 100%;
	}
	.h-gallery-7 {
		width: 100%;
		margin-left: auto;
		margin-top: 0;
		text-align: center;
	}
	.h-gallery-8 {
		margin-left: 0;
		max-width: 100%;
	}
	.history-gallery-area .container .row:nth-child(6) {
		margin-top: 0;
		--bs-gutter-x: 24px;
	}
	.h-gallery-10 {
		max-width: 100%;
		margin-right: 25px;
		margin-left: 25px;
		margin-top: -60px;
	}
	.h-content-3 {
		margin-top: 0;
	}
	.history-gallery-area .container .row:nth-child(7) {
		margin-top: 0;
	}
	.h-gallery-11 {
		margin-left: 0;
		width: 100%;
	}
	.h-gallery-12 {
		max-width: 100%;
		margin-left: 0;
		margin-top: 0;
		text-align: center;
	}

	/* history gallery section end */

	




	


	/* 991 end */
}

/* max-width 767 */
@media (max-width: 767.98px) {
	/* heading  style*/
	h1 {
		font-size: 62px;
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 32px;
	}
	.banner-section.single-project .main-title,
	.banner-section.small-banner .main-title{
		font-size: 62px;
	}
	.construction-area.position-detail-info h1 {
		font-size: 62px;
	}


	/* header section start */

	/* all padding fix start*/
	.construction-area , 
	.construction-services-area 
	.featured-project-card-area,
	.services-contact-from ,
	.project-area ,
	.news-article-section-area ,
	.single-news-section-area ,
	.core-value-area ,
	.featured-project-card-area,
	.project-details-area,
	.contact-form-area ,
	.open-positions-wrapper ,
	.drone-services-area{
		padding: 50px 0;
	}

	/* all padding fix end*/



	.logo img {
		max-width: 132px;
	}

	.top-btn-wrapper ul {
		left: -30px;
	}



	/* header section end */
	/* innovators sectoin start */
	.innovators-area {
		padding: 50px 0;
	}

	/* innovators sectoin end */

	/* swiper css start */
	.swiper-horizontal > .swiper-pagination-progressbar,
	.swiper-pagination-progressbar.swiper-pagination-horizontal,
	.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
	.swiper-vertical
		> .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
		bottom: -25px;
	}

	.swiper-horizontal > .swiper-pagination-progressbar,
	.swiper-pagination-progressbar.swiper-pagination-horizontal,
	.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
	.swiper-vertical
		> .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
		max-width: 100%;
	}

	/* swiper css end */

	/* cta section start */
	.cta-content h2 {
		font-size: 60px;
	}

	/* cta section end */

	/* footer section start */
	.footer-item-wrapper {
		margin-top: 20px;
	}

	.footer-area .footer-top-area > .row > .col-lg-4 .footer-item-wrapper {
		margin-top: 0;
		max-width: 100%;
	}

	/* footer section end */

	/* single project section start */
	.banner-section.single-project {
		min-height: 400px;
	}
	.banner-section.single-project .banner-title {
		padding-top: 50px;
	}
	.project-details-area .row {
		--bs-gutter-y: 30px;
	}
	/* single project section end */

	/* fun fat section start */
	.counter {
		font-size: 50px;
	}
	.counter-wrapper-area {
		clip-path: polygon(0 0, calc(100% - 57px) 0%, 100% 52px, 100% 100%, 100% 100%, 52px 100%, 0% calc(100% - 57px), 0 0);
	}
	/* fun fat section end */

	/* our client say area start */
	.our-client-say-area .container > .row {
		--bs-gutter-y: 20px;
	}
	.our-client-say-area{
		padding: 45px 0 0;
	}
	.our-client-say-area h4 {
		margin-bottom: 20px;
	}
	
	/* our client say area end */



	/* 767 end */
}

/* max-width 575 */
@media (max-width: 575.98px) {
	/* heading  style*/
	h1 {
		font-size: 56px;
	}

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 24px;
	}

	.banner-section.single-project .main-title,
	.banner-section.small-banner .main-title{
		font-size: 56px;
	}


	/* header section start */
	.magnum-btn {
		font-size: 14px;
	}

	.top-header-info {
		gap: 8px;
	}

	.top-btn-wrapper .inner-btn {
		gap: 4px !important;
	}

	/* header section end */

	/* banner section start */
	.banner-section {
		min-height: 500px;
	}

	/* banner section end */

	/* about us section start */
	.about-content-wrapper p {
		font-size: 18px;
	}

	/* about us section end */

	/* experience section start */
	.play-icon {
		width: 80px;
		height: 80px;
	}

	.play-icon svg {
		height: 35px;
		width: 35px;
	}

	/* experience section end */

	/* services section start */
	.services-card-wrapper {
		margin-top: 30px;
	}

	.services-card-content svg {
		height: 16px;
		width: 16px;
	}

	/* services section end  */
	/* section padding fix all */
	.services-area,
	.featured-project-area,
	.footer-inner {
		padding: 50px 0;
	}

	.featured-project-area {
		padding-bottom: 120px;
	}

	/* section padding fix all*/

	/* featured project slider section start */
	.featured-project-content {
		position: absolute;
		left: 20px;
		bottom: 48px;
		z-index: 3;
		width: calc(100% - 40px);
	}

	.featured-project-area .section-title-wrapper {
		margin-bottom: 20px;
	}

	/* featured project slider section end */

	/* footer section start */
	.copy-right-wrapper.d-flex.align-items-center.justify-content-between.flex-wrap {
		padding-top: 28px;
		text-align: center;
		-webkit-box-pack: center !important;
		-ms-flex-pack: center !important;
		justify-content: center !important;
	}

	.other-links-wrapper.d-flex.align-items-center.gap-4 {
		margin-top: 16px;
	}

	.footer-top-area {
		margin-bottom: 30px;
	}

	/* footer section end */
		/* services page css */

	/* services banner section start */
	.banner-section.small-banner {
		min-height: 300px;
	}
	.banner-section::before ,
	.banner-section.small-banner ,
	.banner-section .video-item ,
	.banner-section.small-banner  .video-item {
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 70px 100%, 0 calc(100% - 70px));
	}
	.banner-section.small-banner .main-title {
		margin-bottom: 35px;
	}
	/* services banner section end */
	
	/* services page css */

	/* core value section section start */
	.core-value-wrapper {
		padding: 100px 0;
	}
	.core-value-title {
		font-size: 35px;
		padding-right: 0px;
	}
	/* core value section section end */

	/* single member section start */
	.member-name {
		font-size: 30px;
	}
	/* single member section end */

	/* modification section start */
	.modification-thumbnail {
		height: 250px;
	}
	/* modification section end */

	/* testimonial section start */
	.clinet-testimonal-content {
		padding-bottom: 20px;
	}
	.content-list {
		padding-left: 8px;

	}
	/* testimonial section end */
	/* news featured post section start */
	.news-featured-post-content {
		padding: 30px 20px;
	}
	/* news featured post section end */

	/* open gallery section start */
	.gallery-section-1-slider .swiper-slide, .gallery-section-2-slider .swiper-slide {
		width: 250px;
	}
	/* open gallery section end */

	/* 575 end */
}

/* max-width 479 */
@media (max-width: 479.98px) {
	/* heading  style*/
	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 40px;
	}
	.banner-section.small-banner .main-title {
		font-size: 48px;
	}
	.services-contact-title {
		font-size: 48px;
	}
	.content-block-counter .counter {
		font-size: 48px;
	}
	.construction-area.position-detail-info h1 {
		font-size: 48px;
	}


	/* header section start */
	.logo img {
		max-width: 100px;
	}

	/* header section end */

	/* featured project slider section start */
	.featured-project-content {
		position: absolute;
		left: 15px;
		bottom: 48px;
		z-index: 3;
		width: calc(100% - 30px);
	}

	.featured-project-info p {
		font-size: 14px;
	}

	.featured-project-btn {
		width: 45px;
		height: 45px;
	}

	.featured-project-btn svg {
		height: 18px;
		width: 18px;
	}

	/* featured project slider section end */
	/* cta section start */
	.cta-content h2 {
		font-size: 40px;
	}

	/* cta section end */

	/* offcanvas menu start */
	.offcanvas-header .logo svg {
		max-width: 130px;
	}

	/* offcanvas menu end */

	/* services page section start */
		/* featured prject card section start */
		.featured-project-card-info img {
			clip-path: polygon(
		0 0,
		calc(100% - 30px) 0%,
		100% 30px,
		100% 100%,
		100% 100%,
		0 100%,
		0% 100%,
		0 0
		);
		}
		/* featured prject card section end */

	/* services page section end */

	/* Drone Services section start  */
	.deliver-title {
		font-size: 40px;
	}
	/* Drone Services section end */
	/* project section start */
	.featured-project-card-info .featured-project-card-img img ,
	.featured-project-card-info.large .featured-project-card-img img {
		clip-path: polygon(
	  0 0,
	  calc(100% - 60px) 0%,
	  100% 60px,
	  100% 100%,
	  100% 100%,
	  0 100%,
	  0% 100%,
	  0 0
	 );
	}
	.featured-project-card-info .featured-project-card-img  .magnum-btn svg ,
	.featured-project-card-info.large .featured-project-card-img  .magnum-btn svg {
		height: 35px;
		width: 35px;
	}
	/* project section end */
	
	/* our client say area start */
	.video-icon-wrapper .play-icon {
		width: 70px;
		height: 70px;
	}
	.video-icon-wrapper .play-icon svg {
		margin-left: 6px;
		height: 20px;
		width: 20px;
	}
	/* our client say area end */

	/* news featured post section start  */
	.pagination-wrapper {
		flex-direction: column;
	}
	/* news featured post section end */
}

/* max-width 383 */
@media (max-width: 383.98px) {
	/* featured project slider sectons start */
	.featured-project-btn {
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-top: 16px;
	}

	.featured-project-info {
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}

	.featured-project-info h4 {
		margin-bottom: 5px;
	}

	/* featured project slider sectons end */

	/* project section start */
	.featured-project-card-info .featured-project-card-img img ,
	.featured-project-card-info.large .featured-project-card-img img {
		clip-path: polygon(
		0 0,
		calc(100% - 60px) 0%,
		100% 60px,
		100% 100%,
		100% 100%,
		0 100%,
		0% 100%,
		0 0
		);
	}
	.featured-project-card-info .featured-project-card-img  .magnum-btn svg ,
	.featured-project-card-info.large .featured-project-card-img  .magnum-btn svg {
		height: 25px;
		width: 25px;
	}
	.featured-project-card-info .featured-project-card-img  .magnum-btn ,
	.featured-project-card-info.large .featured-project-card-img  .magnum-btn {
		padding: 40px;
	}
	/* project section end */

	/* open position section start  */
	.position-inner-info {
		width: 100%;
		flex-direction: column;
		gap: 15px;
	}
	/* open position section end */
	
}

/* max-width 383 */
@media (max-width: 360px) {
	.featured-project-content {
		left: 8px;
		bottom: 20px;
		width: calc(100% - 16px);
	}
}