/* CSS Index
-----------------------------------
1.default css
2.header section css
3.banner section css
4.about us section css
5.innovators sectoin css
-----------------------------------
*/
/* default section start */

/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* font  family  */
.tk-industry {
	font-family: "industry", sans-serif;
}
.tk-mundial {
	font-family: "mundial", sans-serif;
}
.tk-roboto{
	font-family: "Roboto", sans-serif;
}

body {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	font-family: "mundial", sans-serif;
	color: #000;
}

a {
	text-decoration: none;
	color: #030304;
}

a:hover {
	color: #030304;
}

img {
	max-width: 100%;
	height: auto;
}

.bg-fix {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* container */
.container {
	max-width: 1168px;
}

.container-md {
	max-width: 1344px;
}

/* heading  style*/
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #0078C9;
	font-weight: 700;
	line-height: 1.1;
	font-family: "industry", sans-serif;
}

h1 {
	font-size: 88px;
}

h2 {
	font-size: 56px;
	letter-spacing: -1.12px;
}

h3 {
	font-size: 48px;
}

h4 {
	font-size: 40px;
}

h5 {
	font-size: 32px;
}

h6 {
	font-size: 24px;
}

/* all button start */
.magnum-btn {
	font-size: 16px;
	line-height: 1.2;
	color: #ffffff;
	background: rgba(0, 120, 201, 1);
	display: inline-block;
	padding: 21.5px 23px;
	clip-path: polygon(
		0 0,
		calc(100% - 20px) 0%,
		100% 20px,
		100% 100%,
		100% 100%,
		20px 100%,
		0% calc(100% - 20px),
		0 0
	);
	text-transform: uppercase;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.magnum-btn.white-version {
	background-color: #fff;
	color: #0078c9;
}

.magnum-btn:hover {
	background: #0060a1;
	color: #ffffff;
}

.magnum-btn .svg-icon {
	padding-left: 16px;
	height: 20px;
}

.btn-title {
	padding-right: 16px;
	line-height: 1;
}

.btn-title::before {
	position: absolute;
	right: 0;
	top: 50%;
	background: rgba(255, 255, 255, 0.5);
	content: "";
	height: 25px;
	width: 1px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.magnum-btn.white-version .btn-title::before {
	background: #0078c9;
}

.magnum-btn.white-version .svg-icon svg path {
	stroke: #0078c9;
}

.mb-p p:last-child {
	margin-bottom: 0;
}

.learn-btn {
	color: #0078c9;
	font-size: 16px;
	line-height: 1.2;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.learn-btn:hover {
	color: #0078c9;
}

.learn-btn svg {
	margin-top: 3px;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.learn-btn svg path {
	stroke: #0078c9;
}

.learn-btn:hover svg {
	-webkit-transform: translateX(12px);
	-ms-transform: translateX(12px);
	transform: translateX(12px);
}

.featured-project-btn {
	width: 68px;
	height: 57px;
	-webkit-clip-path: polygon(
		0 0,
		calc(100% - 16px) 0%,
		100% 16px,
		100% 100%,
		100% 100%,
		16px 100%,
		0% calc(100% - 16px),
		0 0
	);
	clip-path: polygon(
		0 0,
		calc(100% - 16px) 0%,
		100% 16px,
		100% 100%,
		100% 100%,
		16px 100%,
		0% calc(100% - 16px),
		0 0
	);
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.featured-project-btn:hover {
	background: #0060a1;
}

.fp-slide-btn {
	color: #030304;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
	font-family: "mundial", sans-serif;
	border: 1px solid #1c1c1d;
	padding: 15px 20px;
	background: transparent;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	border-radius: 4px;
}

.fp-slide-btn:hover {
	background: #0060a1;
	color: #fff;
	border-color: #0060a1;
}

/* tansparent bg button */
.transparent-btn {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
	display: inline-block;
	width: 151px;
	line-height: 63px;
	text-align: center;
}
.transparent-btn svg {
    position: absolute;
    top: 0;
    left: 0;
}
.transparent-btn.small-width{
	width: 126px;
}
.read-btn {
    color: #767676;
	transition: all 0.3s linear;
}
.read-btn:hover{
	color: #000000;
}
.back-project-btn {
    color: #fff;
    margin-bottom: 33px;
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
	opacity: 1;
	transition: all 0.3s linear;
}
.back-project-btn:hover{
	opacity: 0.7;
	color: #fff;
	border-bottom: 1px solid transparent;
}



/* all button end */

/* sub-title */
.sub-title {
	color: #e6e6e6;
	font-size: 16px;
	letter-spacing: 3.2px;
	opacity: 0.7;
	display: inline-block;
	text-transform: uppercase;
}
.sub-title.version-2 {
    color: #F4F4F4;
}

/* mfp css */
.mfp-bg {
	opacity: 0.7;
	background: #000000;
}

.mfp-iframe-holder .mfp-content {
	max-width: 1027px;
	border: 13px solid #0078c9;
	max-height: 576px;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
	color: #fff;
	right: -13px;
	text-align: right;
	padding-right: 0;
	background: #0078c9;
	width: 40px;
	height: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	opacity: 1;
	top: -53px;
	font-size: 0;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.mfp-image-holder .mfp-close:hover,
.mfp-iframe-holder .mfp-close:hover {
	background: #0060a1;
}

.mfp-close::before {
	position: absolute;
	left: 50%;
	height: 30px;
	width: 1px;
	background: #fff;
	content: "";
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.mfp-close::after {
	position: absolute;
	left: 50%;
	height: 30px;
	width: 1px;
	background: #fff;
	content: "";
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* mfp css */



/* section padding */
.section-padding {
	padding: 128px 0;
}

/* swipper slider css */
.swiper {
	overflow: inherit;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical
	> .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
	height: var(--swiper-pagination-progressbar-size, 1px);
	left: 0px;
	top: auto;
	bottom: -73px;
	max-width: 780px;
}

.swiper-pagination-progressbar {
	background: #1c1c1d;
}

.swiper-slide .featured-project-wrapper {
	-webkit-transform: scale(0.81);
	-ms-transform: scale(0.81);
	transform: scale(0.81);
	-webkit-transition: -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;
	-o-transition: transform 0.5s;
	transition: transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s;
	clip-path: polygon(
		0 0,
		calc(100% - 70px) 0%,
		100% 70px,
		100% 100%,
		100% 100%,
		70px 100%,
		0% calc(100% - 70px),
		0 0
	);
}

.swiper-slide.swiper-slide-active .featured-project-wrapper {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.project-slider-area .swiper-slide-prev .featured-project-wrapper {
	transform-origin: right;
}

.project-slider-area .swiper-slide-next .featured-project-wrapper {
	transform-origin: left;
}
.project-slider-area {
	max-width: 986px;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background: #0078c9;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background: #0078c9;
	top: -1.5px;
	height: calc(100% + 3px);
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	right: 27px;
	left: auto;
	top: auto;
	bottom: -48px;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
	content: "";
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	margin-right: 98px;
}

/* swipper slider css */
html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}

/* color  */
.dark-gary {
	color: #353536;
}
.color-cyan-blue{
	color: #0078c9;
}
.color-dark{
	color: #030304;
}

/* bg color */
.bg-cyan-blue {
	background: #0078c9;
}
.bg-snow-drift{
	background: #F9F9F9;
}
.dark-bg{
	background: #030304;
}
/* from design css */
.contact-form-wrapper .form-group {
    margin-bottom: 25px;
}
.contact-form-wrapper {
    max-width: 519px;
}

.contact-form-wrapper .form-group label{
	color: #E0E0E0;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
	display: block;
	margin-bottom: 8px;
	text-transform: uppercase;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
input[type="url"],
textarea{
	width: 100%;
	padding: 12px;
	color: #FFF;
	background: #2F2F2F;
	border: 0;
}
input:focus , textarea:focus{
	outline: none;
	box-shadow: none;
	border: 0;
}

/* nice select css */
.nice-select {
    background-color: #2F2F2F;
    border-radius: 0;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    height: auto;
    padding-left: 12px;
    color: #fff;
    padding-top: 16px;
    padding-bottom: 16px;
    white-space: pre-wrap;
    float: none;
    display: flex;
    align-items: center;
    line-height: 1;
}

.nice-select:after {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    height: 8px;
    margin-top: -4px;
    right: 18px;
    width: 8px;
}
.nice-select .list {
    background-color: #2F2F2F;
    border-radius: 0;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background-color: #0078C9;
}

.transparent-version {
    background: transparent;
    border: 1px solid rgb(0, 120, 201);
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 15px;
}
.nice-select.transparent-version .option {
    font-weight: 400;
    line-height: 210%;
}
.transparent-version .current {
    color: #0078C9;
    font-weight: 700;
}
.nice-select.transparent-version .list {
    background-color: rgb(1, 105, 175);
    margin-top: 0;
    padding: 32px 0 16px;
}
.nice-select:active, .nice-select.open, .nice-select:focus , .nice-select:hover {
    border-color: #0078C9;
}
.nice-select.transparent-version  .option:hover, .nice-select.transparent-version  .option.focus, .nice-select.transparent-version  .option.selected.focus {
    background-color: #005893;
}
.nice-select.transparent-version::before {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 52px;
    background: #0078C9;
    content: "";
}
.nice-select.transparent-version:after {
    right: 26px;
    margin-right: -4px;
}
/* nice select css */

/* from design css */

/* default section end */

/* header section start */
.header-area {
	position: absolute;
	width: 100%;
	z-index: 999;
	padding-top: 44px;
}

.top-header-info .magnum-btn {
	padding: 16px 24px;
}

.top-btn-wrapper .inner-btn {
	color: #e6e6e6;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
}

.down-arrow-icon {
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.top-btn-wrapper .inner-btn .down-arrow-icon.rotate {
	margin-top: 3px;
}

.top-header-info {
	gap: 32px;
}

.logo img {
	max-width: 192px;
}

.manu-wrapper > ul {
	padding: 0;
	margin: 0;
}

.manu-wrapper {
	padding-top: 26px;
}

.main-menu li {
	list-style: none;
	display: inline-block;
	padding: 6px 25px;
	position: relative;
	z-index: 1;
}

.main-menu li a {
	color: #e6e6e6;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
	display: inline-block;
	transition: all 0.3s linear;
}

.main-menu li a .down-arrow-icon {
	-webkit-transform: translateY(3px);
	-ms-transform: translateY(3px);
	transform: translateY(3px);
}

.main-menu li ul {
	background: #0078c9;
	padding: 0;
	position: absolute;
	left: 0;
	min-width: 255px;
	z-index: 3;
	margin-left: 25px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
	top: 39px;
}
.main-menu li:hover > .sub-menu {
	max-height: 200px;
	transition: max-height 0.3s ease-in;
}
.down-arrow-icon.rotate {
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	rotate: 180deg;
	margin-top: 10px;
}

.main-menu li ul li {
	display: block;
	padding: 10px 24px;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.main-menu li ul li:first-child {
	padding-top: 16px;
}
.main-menu li ul li:last-child {
	padding-bottom: 20px;
}
.main-menu li ul li a {
	font-size: 16px;
	display: block;
}

.main-menu li:hover > a {
	opacity: 0.5;
}

.top-btn-wrapper ul li {
	padding: 8px 24px;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.top-btn-wrapper ul li a {
	color: #e6e6e6;
}

.top-btn-wrapper ul {
	margin-left: 0;
}

.humbarger span {
	height: 3px;
	width: 30px;
	background: #0078c9;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 5px;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.humbarger span:first-child {
	width: calc(100% - 5px);
	margin-right: 0;
	margin-left: auto;
}

.humbarger span:nth-child(2) {
	width: calc(100% - 15px);
	margin-right: 0;
	margin-left: auto;
}

.humbarger:hover span:first-child,
.humbarger:hover span:nth-child(2) {
	width: 100%;
}

/* offcanvas css start */
.offcanvas {
	--bs-offcanvas-width: 600px;
	--bs-offcanvas-color: #e6e6e6;
	--bs-offcanvas-bg: #030304;
}

.offcanvas-header .logo svg path {
	fill: #fff;
}

.offcanvas-header {
	padding: 40px 25px;
}

.offcanvas-body {
	padding: 0px 25px 40px 25px;
}

.header-offcanvas .btn-close {
	background: #0078c9;
	opacity: 1;
	height: 30px;
	width: 30px;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	border-radius: 0;
}

.header-offcanvas .btn-close svg {
	height: 20px;
	width: 20px;
}

.header-offcanvas .btn-close svg path {
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.header-offcanvas .btn-close:hover {
	background: #0060a1;
}

.header-offcanvas .btn-close:hover svg path {
	stroke: #fff;
}

.header-offcanvas .mobile-nav li a {
	font-size: 20px;
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	display: block;
	font-weight: 300;
}
.header-offcanvas .mobile-nav li a:hover,
.header-offcanvas .mobile-nav li a.active {
	color: #0078c9;
}
.header-offcanvas .mobile-nav > ul > li > a {
	font-size: 32px;
	display: block;
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	padding: 16px 0;
	font-weight: 400;
}
.header-offcanvas .mobile-nav > ul > li > a.position-relative:hover::before {
	border-color: #0078c9;
}

.header-offcanvas .mobile-nav > ul > li > a.position-relative::before {
	position: absolute;
	right: 6px;
	top: 50%;
	height: 10px;
	width: 10px;
	border-right: 1.5px solid #fff;
	border-bottom: 1.5px solid #fff;
	content: "";
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	rotate: 45deg;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.header-offcanvas .mobile-nav li a.position-relative.active::before {
	rotate: -135deg;
	border-color: #000;
}

/* submenu */
.header-offcanvas .mobile-nav ul li .sub-menu {
	display: none;
	padding-top: 10px;
	padding-left: 20px;
}
/* offcanvas css end */
/* header section end */

/* banner section start */
.banner-section {
    min-height: 923px;
    padding: 100px 0;
    background-color: rgb(3, 3, 4);
}
.banner-title .sub-title {
    margin-bottom: 16px;
}
.banner-section.single-project .banner-title {
    padding-top: 210px;
}
.banner-section.single-project{
    min-height: 716px;
}

.banner-section.single-project::before{
	clip-path: none;
}
.video-item {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: -1;
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 72px 100%, 0 calc(100% - 72px));
}

.banner-section::before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgb(3, 3, 4);
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(3, 3, 4, 0.75)),
		to(rgba(3, 3, 4, 0.4))
	);
	background: -o-linear-gradient(
		top,
		rgba(3, 3, 4, 0.75) 0%,
		rgba(3, 3, 4, 0.4) 100%
	);
	background: linear-gradient(
		180deg,
		rgba(3, 3, 4, 0.75) 0%,
		rgba(3, 3, 4, 0.4) 100%
	);
	z-index: 1;
	content: "";
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 72px 100%, 0 calc(100% - 72px));
}

.main-title {
	margin-bottom: 30px;
	letter-spacing: -1.76px;
}
.banner-title {
	padding-top: 93px;
}
/* banner section end */

/* about us section start */
.about-us {
	background-color: #000;
	position: relative;
	z-index: 9;
}
.about-us .row {
	--bs-gutter-x: 65px;
}
.about-img-wrapper img {
	margin-top: -40px;
	margin-bottom: -64px;
	clip-path: polygon(
		0 0,
		calc(100% - 56px) 0%,
		100% 56px,
		100% 100%,
		100% 100%,
		56px 100%,
		0% calc(100% - 56px),
		0 0
	);
	width: 531px;
	margin-left: auto;
	margin-right: 0;
	display: block;
}

.about-inner-info h2 {
	margin-bottom: 24px;
}
.about-inner-info {
	margin-bottom: 58px;
}

.about-content-wrapper p {
	color: #e6e6e6;
	font-size: 24px;
}

.about-bg {
	position: absolute;
	left: -120px;
	top: 50%;
	max-width: calc(100% + 240px);
	z-index: -1;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* about us section end */

/* innovators sectio start */
.innovators-area {
	padding: 260px 0 253px;
	background-image: url("../images/innovators/innovators-bg.png");
}

.innovators-content-wrapper h2 {
	margin-bottom: 16px;
}
.innovators-content-wrapper p {
    font-size: 18px;
    color: #353536;
}

.innovators-content-wrapper p {
	font-weight: 300;
}

.innovators-content-wrapper .magnum-btn {
	margin-top: 64px;
}

.innovators-area .row {
	--bs-gutter-x: 0px;
}

.innovators-img {
	position: absolute;
	left: 0;
	top: 131px;
	height: calc(100% - 262px);
	width: calc(50% - 63px);
	min-height: 300px;
	clip-path: polygon(0 0, calc(100% - 60px) 0, 100% 60px, 100% 100%, 0 100%);
}
/* innovators sectio end */

/*  experience  section start  */
.experience-area {
	min-height: 800px;
	background-size: cover;
}

.experience-area::before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #cbcbcb;
	mix-blend-mode: multiply;
	z-index: -1;
	content: "";
}

.experience-content-wrapper h2 {
	margin-bottom: 36px;
}

.play-icon {
	width: 174px;
	height: 174px;
	display: block;
	background: #0078c9;
	border-radius: 50%;
	margin-right: auto;
	margin-left: auto;
	transition: all 0.3s linear;
}
.play-icon:hover {
	background-color: #0060a1;
}
.play-icon svg {
	margin-left: 20px;
}

/*  experience  section start  */

/* services area section start */
.services-area {
	padding: 128px 0;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#000),
		to(#353535)
	);
	background: -o-linear-gradient(top, #000 0%, #353535 100%);
	background: linear-gradient(180deg, #000 0%, #353535 100%);
}

.services-card-content {
	padding: 18px 0 21px;
	border-bottom: 1px solid #d0d2d3;
}

.services-card-content h6 {
	letter-spacing: -0.48px;
}
.services-card-img img {
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	mix-blend-mode: luminosity;
	opacity: 0.5;
}
.services-card-img::before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	content: "";
	opacity: 0.75;
	background: #0078c9;
	mix-blend-mode: color;
	visibility: visible;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.services-card-wrapper:hover .services-card-img {
	opacity: 1;
}

.services-card-wrapper:hover .services-card-img img {
	mix-blend-mode: normal;
	opacity: 1;
}

.services-card-wrapper:hover .services-card-img::before {
	opacity: 0;
	visibility: hidden;
}

.services-card-wrapper .services-card-content svg path {
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.services-card-wrapper:hover .services-card-content svg path {
	fill: #0078c9;
}

.services-card-wrapper {
	margin-top: 64px;
}

.services-area .row {
	--bs-gutter-x: 28px;
}

.services-bg {
	left: -80px;
	top: calc(50% + 54px);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: calc(100% + 160px);
	z-index: -1;
	max-width: initial;
}
/* services area section end  */

/* featured projects section start */

.featured-project-wrapper::before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(3, 3, 4, 0)),
		to(#030304)
	);
	background: -o-linear-gradient(top, rgba(3, 3, 4, 0) 0%, #030304 100%);
	background: linear-gradient(180deg, rgba(3, 3, 4, 0) 0%, #030304 100%);
	content: "";
	z-index: 1;
}
.featured-project-area {
	padding: 128px 0 210px;
}

.featured-project-area .section-title-wrapper {
	margin-bottom: 72px;
}

.featured-project-content {
	position: absolute;
	left: 48px;
	bottom: 48px;
	z-index: 3;
	width: calc(100% - 96px);
}

.featured-project-info h4 {
	margin-bottom: 14px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.featured-project-info p {
	color: #e6e6e6;
	opacity: 0.7;
	font-size: 16px;
}

.featured-project-wrapper {
	overflow: hidden;
}
.featured-project-wrapper img {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.5s ease;
	transition: -webkit-transform 0.5s ease;
	-o-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.featured-project-wrapper:hover img {
	transform: scale(1.05);
}
.featured-project-wrapper:hover .featured-project-info h4 {
	color: #0078c9 !important;
}

/* featured projects section end */

/* cta section start */

.cta-content {
	max-width: 680px;
}

.cta-content h2 {
	font-size: 88px;
	margin-bottom: 25px;
	text-transform: uppercase;
}

/* cta section end */

/* footer section start */

.footer-area {
	background-color: #0078c9;
}
.footer-inner {
	background-color: #030304;
	padding: 136px 0 67px;
	clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% 100%, 0 100%);
}

.footer-bg {
	bottom: 0;
	right: 0;
	height: 277px;
	z-index: -1;
}

.address-info {
	margin-top: 40px;
}

.address-info address {
	font-size: 20px;
}

.directions {
	margin-top: 32px;
}

.diretions-title {
	color: #e6e6e6;
	font-family: "mundial", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 150%;
	display: inline-block;
	margin-bottom: 20px;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.diretions-title::before {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	width: 100%;
	background: #e6e6e6;
	content: "";
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.directions p,
.directions p a {
	color: #e6e6e6;
	font-size: 20px;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.directions p a {
	opacity: 0.8;
}
.footer-title {
	color: #0078c9;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 3.2px;
	margin-bottom: 16px;
}

.footer-item-wrapper ul,
.header-offcanvas .mobile-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.footer-item-wrapper ul li a {
	color: #e6e6e6;
	text-transform: capitalize;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	opacity: 0.8;
}

.footer-item-wrapper ul li a:hover,
.directions p a:hover,
.other-link:hover,
.diretions-title:hover {
	color: #0078c9 !important;
	opacity: 1;
}
.diretions-title:hover::before {
	display: none;
}

.footer-item-wrapper ul li {
	padding-bottom: 16px;
}

.footer-item-wrapper .magnum-btn {
	padding: 21px 46px;
	margin-bottom: 41px;
}

.socials-icons a svg {
	height: 28px;
	width: 28px;
}

.socials-icons a svg path {
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.socials-icons a:hover svg path {
	fill: #0078c9;
}

.socials-icons a {
	margin-right: 20px;
}

.footer-area .footer-top-area > .row > .col-lg-4 .footer-item-wrapper {
	max-width: 331px;
}

.footer-top-area > .row {
	--bs-gutter-x: 137px;
}

.footer-top-area > .row .row {
	--bs-gutter-x: 74px;
}

.copy-right-text p,
.other-link {
	font-size: 16px;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.footer-top-area {
	margin-bottom: 60px;
}

.copy-right-wrapper {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	padding-top: 48px;
	opacity: 0.67;
}

/* footer section end */


/* services page css  */

/* services banner section start */
.banner-section.small-banner {
    min-height: 505px;
    padding: 30px 0;
    background-color: #fff;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 118px 100%, 0 calc(100% - 112px));
}
.banner-section.small-banner .main-title {
  margin-bottom: 0;
  font-size: 85px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: normal;
}
.banner-section::before {
	background:linear-gradient(180deg, #464646 0%, #9A9A9A 100%);
    mix-blend-mode: multiply;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 118px 100%, 0 calc(100% - 112px));
}
.banner-section.small-banner  .video-item {
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 118px 100%, 0 calc(100% - 112px));
}
/* services banner section end */

/* construction section start */
.construction-area {
  padding: 103px 0 88px;
}
.construcation-content h4 {
  line-height: 1.2;
}
.construcation-content p {
  color: #000;
  font-size: 16px;
}
.construcation-content{
  max-width: 853px;
}



/* construction section end */

/* construction services section start */

.construction-services-area {
    padding: 162px 0 149px;
	background:linear-gradient(180deg, #000 0%, #353535 100%);
}
.construction-services-card h6 {
    line-height: 1.35;
    padding-bottom: 10px;
    border-bottom: 1px solid #0078C9;
    color: #fff;
	transition: all 0.3s linear;
}
.construction-services-card p{
	color: #fff;
	transition: all 0.3s linear;
	min-height: 96px;
}
.construction-services-card:hover .transparent-btn , .transparent-btn.small-width:hover {
    background: #0078c9;
    color: #fff;
    clip-path: polygon(0 0, calc(100% - 15px) 0%, 100% 15px, 100% 100%, 100% 100%, 15px 100%, 0% calc(100% - 15px), 0 0);
}
.construction-services-card:hover .transparent-btn svg , .transparent-btn.small-width:hover svg{
	opacity: 0;
	visibility: hidden;
}
.construction-services-card:hover h6{
	color: #0078C9;
}
.construction-services-card:hover p{
	color: #E0E0E0;
}
.construction-services-area .row {
    --bs-gutter-x: 24px;
    --bs-gutter-y: 108px;
}
.construcation-services-bg{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.12;
    z-index: 1;
	object-fit: cover;
}

/* construction services section end */


/* featured prject card section start */
.featured-project-card-area {
    padding: 113px 0 76px;
}
.featured-project-card-content h6 {
    letter-spacing: -0.48px;
}
.featured-project-card-img img {
    clip-path: polygon(
  0 0,
  calc(100% - 69px) 0%,
  100% 64px,
  100% 100%,
  100% 100%,
  0 100%,
  0% 100%,
  0 0
 );
}

.featured-project-card-img  .magnum-btn {
    padding: 55px 70px;
	clip-path: polygon(0 0, calc(100% - 44px) 0%, 100% 44px, 100% 100%, 100% 100%, 44px 100%, 0% calc(100% - 44px), 0 0);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
	opacity: 0;
	visibility: hidden;
}
.featured-project-card-img:hover .magnum-btn{
	opacity: 1;
	visibility: visible;
}
.featured-project-card-area .row {
    --bs-gutter-x: 20px;
    --bs-gutter-y: 30px;
}

/* featured prject card section end */

/* drone services section start */
.drone-services-area {
    padding: 72px 0;
}
.drone-services-center-shape {
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    width: 739px;
    z-index: -1;
}
.content-block-img {
    padding-left: 14px;
}
.content-block-wrapper .row.flex-row-reverse .content-block-img {
    padding-left: 0;
    padding-right: 14px;
}
.content-block-content p{
	margin-bottom: 24px;
}
.content-block-img img{
	clip-path: polygon(0 0, calc(100% - 48px) 0%, 100% 48px, 100% 100%, 100% 100%, 48px 100%, 0% calc(100% - 48px), 0 0);
}

.mg-content-inner-info p {
    margin-bottom: 20px;
	font-weight: 300;
}
.mg-content-info h6 , .project-details-info h6{
	line-height: 1.35;

}
.mg-content-inner-info span{
	font-weight: 800;
	font-family: "Roboto", sans-serif;
}


/* drone services section end */


/* join our team section start */
.join-our-team {
    margin: 94px 0px;
    padding: 158px 0 138px;
}
.join-our-team-bg{
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-repeat: repeat;
	background-size: auto;
	z-index: -1;
	position: absolute;
	opacity: 0.37;
}
.join-right-img {
    right: 0px;
    top: 0px;
    height: 100%;
    width: calc(50% + 42px);
    z-index: 2;
    object-fit: cover;
    position: absolute;
}
.join-our-team-info h4 {
    line-height: 1.2;
}
.join-our-team-info .bottom-btn-wrapper{
	gap: 58px;
}
.join-our-team-info p {
    font-size: 18px;
    font-weight: 300;
}



/* join our team section end */

/* magnum delivers section start */
.drone-services-area.magnum-delivers {
    padding: 64px 0 91px;
    margin-top: 63px;
}
.deliver-title{
	color: #848484;
	font-size: 51.29px;
	font-weight: 100;
	line-height: 1.2;
}
.drone-services-area.magnum-delivers .mg-content-wrapper  .row {
    --bs-gutter-y: 46px;
}
/* magnum delivers section end */


/* section contact from section start */
.services-contact-from {
    padding: 110px 0 119px;
    margin-bottom: 88px;
}
.services-contact-title {
    font-size: 122.5px;
    font-weight: 300;
    line-height: 0.98;
    margin-bottom: 38px;
    text-align: right;
}
.services-contact-bg{
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0.23;
	z-index: -1;
}
.services-contact-from .row {
    --bs-gutter-x: 68px;
}




/* section contact from section end */





/* services page css  */


/* project section start */
.project-area {
    padding: 60px 0 217px;
}
.filter-btn-info {
    max-width: 597px;
    padding-bottom: 74px;
    gap: 28px;
}
.filter-btn-info  .nice-select.wide {
    width: 100%;
    max-width: 394px;
}
.filter-title {
    color: #A2A2A2;
    font-size: 24px;
    line-height: 1.4;
}

.featured-project-card-info.large .featured-project-card-img img {
    clip-path: polygon(
  0 0,
  calc(100% - 105px) 0%,
  100% 97px,
  100% 100%,
  100% 100%,
  0 100%,
  0% 100%,
  0 0
 );
}
.featured-project-card-info.large .featured-project-card-img  .magnum-btn {
    padding: 77px 100px;
    clip-path: polygon(0 0, calc(100% - 67px) 0%, 100% 67px, 100% 100%, 100% 100%, 67px 100%, 0% calc(100% - 67px), 0 0);
}
.featured-project-card-info.large .featured-project-card-img  .magnum-btn svg{
	height: 100px;
	width: 100px;
}
.featured-project-card-info.large .featured-project-card-content h6 {
	font-size: 36.652px;
	letter-spacing: -0.733px;
}

.project-wrapper .row {
    --bs-gutter-x: 20px;
    --bs-gutter-y: 26px;
}
/* project section end */


/* single project section start */

/* project details area section start */
.project-details-area {
    padding: 114px 0 73px;
}
.project-details-info p ,
.project-details-info address a{
    font-weight: 600;
	color: #000;
}
.project-details-content {
    max-width: 824px;
}
.project-details-info{
	margin-bottom: 10px;
}
.project-details-info:last-child{
	margin-bottom: 0;
}
.counter-wrapper-area {
    clip-path: polygon(0 0, calc(100% - 77px) 0%, 100% 72px, 100% 100%, 100% 100%, 72px 100%, 0% calc(100% - 77px), 0 0);
    padding: 75px 0;
}
.counter {
    font-size: 70px;
    font-weight: 300;
    line-height: 1.4;
}
.counter-card h6 {
    color: #C5E8FF;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}
/* project details area section end */

/* single project slider  section start */
.single-slider-area {
    padding: 80px 0 0;
}
.single-project-slider .swiper-button-prev, 
.single-project-slider .swiper-rtl .swiper-button-prev,
.single-project-slider .swiper-button-next, 
.single-project-slider .swiper-rtl .swiper-button-next {
    right: 0;
    left: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    transform: translate(-50% , -50%);
    background: #0078C9;
    height: 78px;
    width: 78px;
    margin-top: 0;
	margin-right: 0;
	transition: all 0.3s linear;
}
.single-project-slider .swiper-button-prev:hover, 
.single-project-slider .swiper-rtl .swiper-button-prev:hover,
.single-project-slider .swiper-button-next:hover, 
.single-project-slider .swiper-rtl .swiper-button-next:hover {
     background-color: #0060a1;
}
.single-project-slider .swiper-button-prev svg, 
.single-project-slider .swiper-rtl .swiper-button-prev svg,
.single-project-slider .swiper-button-next svg, 
.single-project-slider .swiper-rtl .swiper-button-next svg {
    height: 37px;
	width: 18px;

}
.single-project-slider .swiper-button-next{
	left: auto;
	right: 0;
	-webkit-transform: translate(50% , -50%);
    -ms-transform: translate(50% , -50%);
    transform: translate(50% , -50%);
}

.single-project-slider .swiper-horizontal > .swiper-pagination-bullets, 
.single-project-slider .swiper-pagination-bullets.swiper-pagination-horizontal,
.single-project-slider .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -19px;
    top: auto;
    left: 0px;
    width: 100%;
    transform: translateY(100%);
}
.single-project-slider .swiper-pagination-bullet {
    width: 19px;
    height: 19px;
    display: inline-block;
    border-radius: 0;
    background: #B8B8B8;
    opacity: 1;
}
.single-project-slider  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #0078C9;
}
.single-project-slider .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.single-project-slider .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
}
/* single project slider  section end */


/* single project section end */
